<div class="header flex justify-between content w-full h-14 px-1 pt-10 pb-10">
    <div class="flex justify-center items-center">
        <p class="logo text-2xl min-w-max ml-7 my-0 font-bold">THE<span class="title">IA</span></p>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>

    <div class="block lg:hidden">
        <button id="nav-toggle"
            class="flex items-center px-3 py-2 mt-1 mr-5 border rounded text-white border-white hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="w-full h-full flex-end lg:flex lg:items-center lg:w-auto hidden lg:pt-0" id="nav-content">
        <ul class="flex h-full flex-end justify-center items-center">
            <li class="align-middle">
                <a href="#" (click)="showDiv(1)">
                    <p class="home font-bold h-[50px] mt-8 px-5"><span class="title font-bold">HOME</span></p>
                </a>
            </li>
            <li class="align-middle">
                <a href="#" (click)="showDiv(2)">
                    <p class="font-bold h-[50px] mt-8 px-5">CALENDAR</p>
                </a>
            </li>
            <li class="align-middle">
                <a href="#" (click)="showDiv(3)">
                    <p class="font-bold h-[50px] mt-8 px-5">CONTACTS</p>
                </a>
            </li>
            <li class="align-middle">
                <a href="#" (click)="showDiv(4)">
                    <p class="font-bold h-[50px] mt-8 px-5">EMAILS</p>
                </a>
            </li>
            <li class="mx-6 align-middle">
                <button type="button" class="headbutton font-bold rounded-md min-w-max mr-7 px-3 my-1.5 mt-3 items-end"
                    name="login">LOG
                    IN</button>
            </li>
        </ul>
    </div>
</div>
<script>
    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }
</script>