<div class="flex justify-between content w-full h-14 px-1">
    <div class="flex justify-center items-center">
        <p class="logo text-2xl min-w-max ml-7 my-0 font-bold"><span class="symbol">Q</span> THE<span
                class="title">IA</span></p>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <ul class="flex justify-center items-center">
        <li>
        <li class="mx-6 align-middle">
            <p class="font-medium">EMAILS</p>
        </li>
        <li>
        <li class="mx-6 align-middle">
            <p class="font-medium">CALENDARY</p>
        </li>
    </ul>
    <button type="button" class="headbutton rounded-md min-w-max mr-7 px-3 my-1.5 items-end" name="login">LOG
        IN</button>
</div>