<div class="container h-full">
    <div class="div1 p-2 w-full h-full rounded-tl-xl rounded-bl-xl border" [hidden]="divsService.currentDiv !== 1">
        <app-home />
    </div>
    <div class="div2 p-2 w-full h-full rounded-tl-xl rounded-bl-xl border" [hidden]="divsService.currentDiv !== 2">
        <app-calendar />
    </div>
    <div class="div3 p-2 w-full h-full rounded-tl-xl rounded-bl-xl border" [hidden]="divsService.currentDiv !== 3">
        <app-contacts />
    </div>
    <div class="div4 p-2 w-full h-full rounded-tl-xl rounded-bl-xl border" [hidden]="divsService.currentDiv !== 4">
        <app-emails />
    </div>
</div>