<div class='canvas-container'></div>

<script src='https://unpkg.com/three@0.99.0/build/three.min.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/controls/OrbitControls.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/postprocessing/EffectComposer.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/postprocessing/RenderPass.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/postprocessing/ShaderPass.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/shaders/CopyShader.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/shaders/LuminosityHighPassShader.js'></script>
<script src='https://unpkg.com/three@0.99.0/examples/js/postprocessing/UnrealBloomPass.js'></script>


<script id='sphere-vertex-shader' type='x-shader/x-vertex'>
    uniform float uTime;
    
    varying vec3 vPosition;
    varying vec2 vUv;
    

    void main() {
        vec3 delta = 10.0 * normal * sin(
            abs(position.x) * 100.0 +
            abs(position.y) * 100.0 +
            abs(position.z) * 100.0 + uTime * 10.0);
        
        vec3 newPosition = position + delta;
        
        vUv = uv;
        vPosition = newPosition;

        gl_Position = projectionMatrix * modelViewMatrix * vec4(newPosition, 1.0);
    }
    

</script>


<script id='sphere-fragment-shader' type='x-shader/x-fragment'>
    uniform float uTime;
    
    varying vec3 vPosition;
    varying vec2 vUv;
    
    
    void main() {
        if (length(vPosition) <= 34.0) {
            gl_FragColor = vec4(vec3(0.0), 0.0);
        } else {
            if (sin(vUv.x * 1000.0) <= 0.0001 && sin(vUv.y * 1000.0) <= 0.0001) {
                gl_FragColor = vec4(vec3(0.0), 0.0);
            } else {
                gl_FragColor = vec4(0.5, 0.5, 1.0, 1.0);
            }
        }
    }
</script>